.inbound-wrapper {
  width: 100%;
}

.inbound-wrapper .inner {
  width: 80%;
  height: auto;
}

.inbound-wrapper__all {
  width: 100%;
  height:auto;

}

.inbound-wrapper__all__list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 3%;  
    
}

.inbound-wrapper__all__list__item__img{
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  ;
  
  
  
}
.inbound-wrapper__all__list__item__img:hover{
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.2);
}

.inbound-wrapper__all__list__item__img::before {
  position: absolute;
  content: "";
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}

.WPhoto-wrapper {
  width: 100%;
  height: auto;
}

.WPhoto-wrapper__intro {
  padding-bottom: 3%;
}
.WPhoto-wrapper.inner {
  width: 80%;
  height: auto;
 
}

.WPhoto-wrapper__block {
  width: 100%;
  height:auto;
  
}
.WPhoto-wrapper__block__list {
 display: flex;
 justify-content: space-evenly;

}

.WPhoto-wrapper__block__list__item__img {
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.WPhoto-wrapper__block__list__item__img:hover {
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.2);
}

.WPhoto-wrapper__block__list__item::before {
  position: absolute;
  content: "";
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}


@media screen and (max-width: 1024px) {
  .__PC {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .inbound-wrapper__all {
    width: 100%;
  }

  .inbound-wrapper__all__list {
    width: 100%;
    height: 20vh;
  
 
  }
  .inbound-wrapper__all__list__item {
    width: 100%;
  }
  .inbound-wrapper__all__list__item__img img{
    width: 35vw;
    height: 20vh;
   
  }
  .WPhoto-wrapper__block__list__item__img img {
  width:35vw;
  height: 21vh;
  display: flex;
  align-items: center;
  margin-top: 4%;
}



}


@media screen and (max-width: 768px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  .inbound-wrapper__intro {
    margin-bottom: 5%;
  }

  .inbound-wrapper__all {
    margin-bottom:10%;
  }
  .inbound-wrapper__all__list{ 
   width:100%;
   height: auto;
   flex-direction: column;
  flex-wrap: nowrap;
   margin-bottom: 0%;
   padding-bottom: 0%;
   align-items: center;
 }

 .inbound-wrapper__all__list__item__img img {
  width:45vw;
  height: 24vh;
  margin-bottom:5%;
  padding-top:18%;
 
 }

  .WPhoto-wrapper__block__list {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .WPhoto-wrapper__block__list__item__img img {
    width:45vw;
    height: 25vh;
    margin-top:20%;
    
  }
}


@media screen and (max-width: 420px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
  
  
  .inbound-wrapper__intro p {
    font-size: 1rem;
  
  }
  
  .inbound-wrapper__all{
    width: 100%;
  }
  .inbound-wrapper__all__list {
    width:100%;
  }

  .inbound-wrapper__all__list__item__img img {
    width:20em;
    height:15em;
    margin-top:5%;
   /*transform: translate(-13%, 0%);*/

  }

    .inbound-wrapper__all__list__item__img:hover {
      transition: all 0.3s ease-in-out 0s;
      transform: scale(1.1);
    }
  .WPhoto-wrapper__intro p {
    font-size: 1rem;
  }

  .WPhoto-wrapper__block__list{
    width: 100%;
    align-content:center;
  }

  .WPhoto-wrapper__block__list__item__img img {
    width:20em;
    height: 16em;
    /*transform: translate(-5%, 0%);*/
  }

  .WPhoto-wrapper__block__list__item__img:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 320px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .inbound-wrapper__all__list__item__img img {
    width:100%;
    height:100%;
  }

  .WPhoto-wrapper__block__list__item__img img {
    width: 100%;
    height: 100%;
  }

}
