@charset "UTF-8";

html {
  font-size: 16px;
}

body {
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  padding:10px;
 box-sizing: border-box;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5%;
}

.header-wrapper__logo {
  width: 18.25rem;
}

.header-wrapper__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrapper__nav {
  width: 70%;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-wrapper__nav__list__item {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 2.5%;
  border-right: solid 3px rgb(248, 147, 240);
}

.header-wrapper__nav__list__item a {
  color: white;
}

.header-wrapper__nav__list__item a:hover {
  color: rgb(248, 147, 240)
}

.header-wrapper__nav__list__item:last-child {
  border-right: none;
}

.header .drawer {
  visibility: hidden;
}

.section {
  position: relative;
  margin: 0% 0; 
}

.inner { 
  width: 80%;
  margin: 0 auto;
}

/*.intro {
  width: 40%;
}*/

.ttl {
padding-top: 6%;
 margin-bottom: 3%;
  font-size: 3rem;
}

.ttl small {
  border-left: solid 8px red;
  padding-right: 12px;
}

.txt {
  font-size: 1.2rem;
  font-weight: 530;
  color: black;
  padding-top: 0.8rem;
}

.btn {
  width: 18rem;
  margin: 0 auto;
  line-height: 4;
  margin-top: 8%;
  padding-bottom: 5%;
}

.btn a:hover {
  color: rgb(66, 9, 66);
  background:rgb(225, 77, 236);
  transition: 0.6s;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(66, 9, 66);
  color:white;
  font-size: 1.3rem;
  font-weight: 650;
  text-align: center;
  border-radius: 10px;
}

.footer {
  margin-top: 10%;
  padding: 3% 0 2%;
  background-color: rgb(66, 9, 66);
  color: #fff;
}

.footer-wrapper__logo {
  width: 25rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2.5%;
}

.footer-wrapper__logo a {
  display: block;
}

.footer-wrapper__logo img {
  width: 100%;
}

.footer-wrapper__list {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

.footer-wrapper__list__item {
  padding-right: 2.5%;
  margin-right: 2.5%;
  font-size: 1.2rem;
  line-height: 1;
}

.footer-wrapper__list__item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.footer-wrapper__list__item a {
  color: #fff;
}

.footer-wrapper__list__item a:hover {
  color: rgb(225, 77, 236);
}

.footer-wrapper__sns {
  margin-bottom: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper__sns__icon1 {
  margin-right: 2%;
}

.footer-wrapper__sns__icon1,
.footer-wrapper__sns__icon2 {
  transition: 0.2s;
}

.footer-wrapper__sns__icon1:hover,
.footer-wrapper__sns__icon2:hover {
  transition: 0.2s;
  transform: translateY(-5px);
  
}

.footer-wrapper__sns__icon1 a,
.footer-wrapper__sns__icon2 a {
  color: #fff;
  font-size: 2.25rem;
}

.footer-wrapper__copyright {
  display: block;
  text-align: center;
}




@media screen and (max-width: 1024px) {
  .__PC {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .header-wrapper{
    width: 100%;
  }

 .header-wrapper__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header .drawer {
   visibility: visible;
   width: 25px;
   position: absolute;
   top: 15px;
   right: 15px;
   border-top: solid 4px white;
   cursor: pointer;
   z-index: 100;
 }

 header .drawer::before,
 header .drawer::after {
   content: "";
   display: block;
   width: 25px;
   background: white;
   height: 4px;
   position: absolute;
   top: 3%;
   right: 2%;
   transition: all 0.5s;
 }

 header .drawer::before {
   top: 6px;
 }

 header .drawer::after {
   top: 15px;
 }

 header .header-wrapper__nav {
   position: fixed;
   display: none;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background: rgb(68, 42, 68);
 }

 header .header-wrapper__nav__list {
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateY(-50%) translateX(-50%);
 }

 header .header-wrapper__nav__list__item {
   margin: 5% auto;
 }

 header .header-wrapper__nav__list__item a {
   line-height: 3;
   font-size: 1.5rem;
 }

 body.nav-open header .drawer {
   border-top: 0;
 }

 body.nav-open header .drawer::before {
   top: 9px;
   transform: rotate(-45deg);
 }

 body.nav-open header .drawer::after {
   top: 9px;
   transform: rotate(45deg);
 }


}

@media screen and (max-width: 768px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

 
}


@media screen and (max-width: 480px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .footer-wrapper__list {
    flex-direction: column;
    margin-left: 38%;
  }

  .footer-wrapper__list__item {
    margin: 3.25% 0;
  }
} 