@charset "UTF-8";

.header {
  background-color: purple;
 
}

.top {
  position: relative;
  width: 100%;
  height: 100%;

  margin-bottom: 0%;
}
.top-wrapper {
 width: 100%;
 height: auto;
 background: url(../img/kasa2.png) no-repeat;
}

.top-wrapper__ttl {
  font-size: 6rem;
  font-weight: bold;
 padding-top: 8%;
 padding-bottom:7%;
 color: white;
 text-shadow: 2px 2px black ;
 margin-left: 10%;
 letter-spacing: 5px;
}


@media screen and (max-width: 1024px) {
  .__PC {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  } 

  .top-wrapper {
    width: 100%;
  }

  .top-wrapper__ttl {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
  
  .top-wrapper {
    width: 100%;
    height: auto;
  }

  .top-wrapper__ttl {
    font-size:3rem;
  }
}


@media screen and (max-width: 420px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  header .header-wrapper__nav__list__item a{
    font-size: 10px;
    font-weight: lighter;
    line-height: 2;
  }
  .top-wrapper {
    width:100%;
    height: auto;
  }

  .top-wrapper__ttl {
    font-size: 2rem;
  }

  .ttl {
    padding-top: 6%;
    margin-bottom: 3%;
    font-size: 1.6rem;
  }
  
  .ttl small {
    border-left: solid 6px red;
    padding-right: 12px;
  }

  .footer-wrapper__logo {
    width: 80%;
  }
  
  .btn {
    width: 18rem;
  }
}
