.jobs-wrapper {
  width: 100%;
  height: auto;
}

.jobs-wrapper .inner {
  width: 80%;
  height: auto;

}

.jobs-wrapper__block__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.jobs-wrapper__block__list__item {
  width: 35%;
  height: 55vh;
  background: rgb(247, 246, 246);
  box-shadow: 10px 10px 10px rgb(146, 93, 102);
  margin-top: 5%;
  padding-top: 3%;
  padding-left: 4%
}

.Ttl {
  margin-top:3%;
  font-size: 1.3rem;
  font-weight: 600;
  /*transform: translate(5%, -50%);*/
}

.det {
  width:90%;
 margin-top: 1%; 
 /* transform: translate(8%, -50%);*/
}


@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .jobs-wrapper__block__list {
    width: 100%;
    justify-content: space-between;
  }

  .jobs-wrapper__block__list__item {
    width:36%;
    height: 30vh;
    padding-left: 10%;
    margin-bottom: 3%;
  }

  .jobs-wrapper__block__list__item img {
   /* transform: translate(-8%, -10%);*/
   width: 25vh;
   height: 18vh;
   margin-top: -3%;
   margin-left: -22%;
  }

  .Ttl {
    margin-left: -15%;
  }

  .det {
    margin-left: -10%;
  }

}



@media screen and (max-width: 768px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  .jobs-wrapper__block__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .jobs-wrapper__block__list__item {
    width: 80%;
    height: 50vh;
  }

  .jobs-wrapper__block__list__item img {
    width: 95%;
    height: 32vh;
    padding-left: 18%;
    padding-top: 6%;
    /*transform: translate(-2.5%, 0%);*/
  }

  .jobs-wrapper__block__list__item p {
   width: 80%;
  }

  .Ttl {
    margin-left: 0%;
  }

  .det {
    margin-left: 5%;
  }
}


@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .jobs-wrapper__block__list__item {
    width: 90%;
    height:60vh;
  }

  .jobs-wrapper__block__list__item img {
    height: 25vh;
  }

   .Ttl {
    font-size: 1.2rem;
    margin-top: 5%;
  }

  .det {
    margin-top: 4%;
  }
}