.news-wrapper {
 width:100%;
 height: 100%;
}

.news-wrapper .inner {
  width: 80%;

}

.news-wrapper__block {
  margin-top: -5%;
}
.news-wrapper__block__list {
  width: 100%;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;

}

.news-wrapper__block__list__item {
  width: 80%;
  height:23.5vh;
  background: rgb(252, 238, 240);
 margin-top: 10%;
}

.news-wrapper__block__list__item__img {
  width: 100%;
  height:100%;
  /*transform: translate(10%, -50%);*/
 margin-top: -26%;
 margin-left: 0%;
}

.news-wrapper__block__list__item__txt {
 margin-top: -17rem;
  padding-left:28rem;
  /*transform: translate(42%, -50%);*/
  width:50%;
}

.news-wrapper__block__list__item__det {
  width: 40%;
 margin-top:4% ;
 margin-left:49%;
 /*transform: translate(50%, -50%) ;*/
}

@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }
  
  .news-wrapper__block__list {
    flex-direction: column;
    padding-bottom: 10%;
  }
  .news-wrapper__block__list__item {
    width: 100%;
    height: 22vh;
  }

  .news-wrapper__block__list__item__img {
   margin-top: -37%;
    margin-left: 0%;
    margin-bottom: 5%;
  }
  .news-wrapper__block__list__item__txt {
    width: 50%;
    margin-top: -33%;
  }

  .news-wrapper__block__list__item__det {
  margin-left:54%;
  
  }
 }

@media screen and (max-width: 768px) {
  .__PC {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  

 .news-wrapper__block__list__item {
    width: 100%;
    height:70vh;
 
  
    margin-bottom: 10%;
  
  }

  .news-wrapper__block__list__item__img img {
    width: 80%;
  
    /*transform: translate(30%, -50%);*/
  margin-top: 10%;
    margin-left: 10%;
  }

  .news-wrapper__block__list__item__txt{
    /*transform: translate(0%, 50%);*/
    width: 100%;
    padding-top:40%;
    margin-left: -24rem;
    font-size: 1.5rem;
  }

  .news-wrapper__block__list__item__det {
    font-size: 1.2rem;
    width:80%;
    margin-left:10%;
   /* transform: translate(0%, 50%);
    margin-top: 10%;
    margin-bottom: 10%;*/
   
  }
}


@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
  

  .news-wrapper__intro {
    margin-top:5%;
  }
   
  /*.news-wrapper__block__list {
    width: 100%;
    height: 40vh;
    /*flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 10%;
    margin-bottom: 50%;
  }*/
  .news-wrapper__block__list__item {
    width: 100%;
  
    
  }
  .news-wrapper__block__list__item__img img{
   /*transform: translate(-20%, 100%);*/
   width: 85%;
   height:25vh;
  margin-top: 2rem;
   margin-left:7%;
  
  }

  .news-wrapper__block__list__item__txt {
   width: 100%;
   /*transform: translate(-20%, 250%);*/
   font-size:15px;
   margin-left: -26rem;

  
  }

  .news-wrapper__block__list__item__det {
    width: 80%;
    /*transform: translate(-20%, 160%);*/
    margin-top:5%;
    font-size:12px;
    margin-left: 10%;
  }
}